h1 {
  text-transform: uppercase;
  font-size: 2rem;
}

.image {
  border: solid white;
  border-width: 5px;
  width: 100%;
}

* {
  background-color: black;
}
#main {
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
  font-family: "Libre Baskerville", serif;
  color: white;
  text-align: center;
}
